<div class="container-fluid">
  <div class="row footer-top px-1 px-md-5 py-5">
    <div class="col-12 col-md-8 sitemap">
      <div class="row">
        <div class="col-4">
          <h3 class="footer-nav__title">About us</h3>
          <app-footer-nav [links]="firmLinks"></app-footer-nav>
        </div>
        <div class="col-4">
          <h3 class="footer-nav__title">Practice Areas</h3>
          <app-footer-nav [links]="practiceAreasLinks"></app-footer-nav>
        </div>
        <div class="col-4 sitemap__media">
          <h3 class="footer-nav__title">Media</h3>
          <app-footer-nav [links]="mediaLinks"></app-footer-nav>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 contact">
        <div class="section-divide mx-auto mt-3 mt-md-4 mb-4 mb-md-5"></div>
      <h3 class="footer-nav__title">
        Contact us
      </h3>
      <p class="my-0 footer-nav__text">
        47, Modupe Johnson Crescent,
        Surulere,
        Lagos, Nigeria
      </p>
      <p class="my-0 footer-nav__text">
        +234-1-791-6692
      </p>
      <p class="my-0 footer-nav__text">
        +234-903-511-7862
      </p>
      <p class="my-0 footer-nav__text">
        info@iolalaw.com
      </p>
    </div>
  </div>
  <div class="row footer-bottom px-5">
    <div class="copyright mx-auto">
      <p class="copyright__text my-2">&copy; 2019 IOL Associates</p>
    </div>
  </div>
</div>