<div class="container-fluid d-flex align-items-center justify-content-end px-0 py-auto banner">
  <div class="row mx-auto mr-md-5 px-3 px-md-0">
    <div class="col">
      <h1 class="banner__title">
        Welcome to Scales
      </h1>
      <p class="my-3 my-md-4 banner__text">
        Legal help is closer than you ever imagined. Simply reach out.
      </p>
      <button type="button" class="btn btn-outline-light banner__button">
        Make an appointment
      </button>
    </div>
  </div>
</div>
